aenum==3.1.15
certifi==2023.5.7
charset-normalizer==3.2.0
delayed-assert==0.3.6
dill==0.3.6
exceptiongroup==1.1.2
idna==3.4
iniconfig==2.0.0
packaging==23.1
pluggy==1.2.0
py==1.11.0
pytest==7.4.0
pytest-html==3.2.0
pytest-metadata==3.0.0
pytest-reportportal==5.2.1
PyYAML==6.0.1
reportportal-client==5.4.0
requests==2.31.0
six==1.16.0
tomli==2.0.1
urllib3==2.0.4
